
    <div class='navbar'>
    </div>
    
    <center class='photolocation'>
      <form class="photoform" action="/home/down">
        <button class="image_down" type="submit">
          <%= image_tag @img_path, :class => "img_preview"  %>
        </button>
      </form>
    
    </br>
    
    
    <button class='submit_button' onclick="go_home()">Go Home</button>
    <button class='submit_button' onclick="go_back()">Go Back</button>
    

    </center>
    
            

 