<!DOCTYPE html>
<html>
  <head>
    <title>신입생 프로젝트 용수 & 희상</title>
    <link rel="shortcut icon" href="https://pbs.twimg.com/profile_images/536509461204987905/BGuldKRe_400x400.png" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
  </head>
<body>
  <!--<button><a href="/">Back to home</a></button>-->
<%= yield %>

</body>
</html>
